@use "../../../foundation/base/f-font-family" as font;
@use "../../../foundation/mixin/f-flex" as flex;
@use "../../../foundation/class-mixin/f-title" as title;

.works{
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 20rem;
    @include flex.flex;
    &__title{
        width: 80%;
        @include flex.flex($justify-content:flex-start);
        @include title.title;
    }
}